<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yahaha.cloud.signup.dao.UserMapper">

    <insert id="createUser" parameterType="com.yahaha.cloud.signup.po.User">
        insert into user
            (id, name, create_time, update_time, account, password)
            values
            (#{id}, #{name}, #{createTime}, #{updateTime}, #{account}, #{password});
    </insert>

    <update id="updatePassword" parameterType="com.yahaha.cloud.signup.po.User">
        update user
            set password = #{password}
            where id = #{id}
    </update>

    <select id="selectOneByAccount" parameterType="java.lang.String" resultType="com.yahaha.cloud.signup.po.User">
        select id, name, create_time, update_time, account, password
            from user
            where account = #{account} limit 1
    </select>
</mapper>
